<%= form_for(@campaign) do |f| %>
<%= render 'shared/errors', object: @campaign %>
  <p><%= f.label :title %></p>
  <p><%= f.text_area :title, cols: 40, rows: 1, autofocus: true %></p>
  <p><%= f.label :description %></p>
  <p><%= f.text_area :description, cols: 40, rows: 7 %></p>
  <p><%= f.label :amount_needed %></p>
  <p><%= f.number_field :amount_needed %></p>
  <p><%= f.label :medical_partner %></p>
  <p><%= f.text_area :medical_partner, cols: 40, rows: 1 %></p>
  <p><%= f.label :active? %> <%= f.check_box :active %></p>
  <p><%= f.submit %></p>
<% end %>
